.WiP {
    display: none;
    color: red;
}

/* General **********/
:root{
    --colour-1: #FFD900;
    --colour-2: #26425F;
    --colour-3: #4E6990;
    --colour-4: #CD171E;
    --colour-5: #99B6D6;

    --skew: -13deg;

}
@font-face {
    font-family: 'JetBrains Mono';
    src: url("Fonts/JetBrainsMono-Regular.ttf");
    src: url("Fonts/JetBrainsMono-Regular.woff2");
}
@font-face {
    font-family: 'DIN Alternate';
    src: url("Fonts/DINAlternate-Bold.ttf");
}

@font-face {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    margin: 0;

    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

h1 {
    font-family: 'DIN Alternate', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'JetBrains Mono', monospace;*/
    /*font-size: 3em;*/
    font-size: 3.6em;
}
h2 {
    /*font-family: 'Dancing Script', sans-serif;*/
    font-family: 'JetBrains Mono', monospace;
    font-size: 2.6em;
    color: var(--colour-2);
    margin-top: 0.28em;
    margin-bottom: 0.28em;
    text-align: center;
    /*margin: 0;*/
}

h3 {
    font-family: 'DIN Alternate', sans-serif;
    font-size: 1.5em;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'JetBrains Mono', monospace;*/
    color: var(--colour-2);
    margin: 0.25em 1vw;
}
h4 {
    position: relative;
    color: var(--colour-1);
    /*border: 3px solid #26425F;*/
    /*border-left: 2px solid #26425F;*/
    /*border-right: 2px solid #26425F;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.4em;
    text-align: left;
    padding: 0.3em 0.6em;
    /*padding: 0.3em 0.5vw;*/
    margin: 1em 0;

    /*transform:skewX(-30deg);*/
}
h4::before {
    position: absolute;
    content: "";

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: var(--colour-2);
    transform: skewX(var(--skew));
    z-index: -1;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p {
    /*margin-block-start: 0.5em;*/
    /*margin-block-end: 0.5em;*/
    color: var(--colour-3);
    margin-right: 1vw;
    margin-left: 1vw;
}
b {
    font-size: 1.1em;
    color: var(--colour-2);

    font-family: "DIN Alternate";
    font-size: 1.2em;
}
.quote {
    font-weight: 600;
    font-style: italic;
}

img {
    width:100%;
}

a {
    text-decoration: none;
    /*color: var(--colour-1);*/
}

section{
    width: 100%;
    /*min-height: 100vh;*/
    padding: 2vh 0;
}
.section-indent {
    /*position: relative;*/
    /*top: 2vh;*/
    /*padding-top: 2vh;*/
    /*padding-bottom: 1vh;*/
    /*max-width: 50em;*/

    /*display: flex;*/
    max-width: 70em;
    margin: auto;
    width: 96%;
    /*min-height: 85vh;*/
    /*background-color: white;*/
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    /*margin-right: 1vw;*/
}

/* End General **********/


/* Nav **********/
nav {
    position: fixed;
    bottom: 2vh;
    right: 2vh;

    /*width: 100vw;*/

    /*width: window.innerWidth;*/
}
nav a{
    text-decoration: none;
    color: black;
}
nav h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.3em;
}
/* > Nav Background **********/
.nav-background {
    position: fixed;
    bottom: 1vh;

    width: 100%;
    /*width: window.innerWidth;*/
    height: 10vh;
    background-color: rgba(255,255,255,0.45);

}
/* >Nav Monogram **********/
.nav-mono {
    position: fixed;
    bottom: 2vh;
    left: 2vh;

    width: 8vh;
    height: 8vh;

    display: flex;
    align-self: center;
    justify-content: center;

    /*background-color: rgb(100,100,100);*/
    background-color: #26425F;
    border-radius: 100% 30% 100% 100%;
}
.nav-mono img{
    width: 80%;
    filter: invert(1) drop-shadow(0px 2px 10px black);
}

/* >Nav Buttons **********/
.nav-links {
    display: flex;
}

.nav-icon {
    display: inline-flex;
    /*background-color: rgb(100,100,100);*/
    background-color: #26425F;

    /*sizing*/
    height: 8vh;
    width: 8vh;
    border-radius: 100% 30% 100% 100%;
    font-size: 4vh;
}
.nav-icon div{
    align-self: center;
    margin: auto;

    color: #fff;
    text-shadow: 0 2px 10px black;
}

.nav-text {
    transition: 1s;
    display: inline-flex;
    width:0;
    overflow: hidden;
}
.nav-text h2{
    margin: 0;
}

.nav-button:hover .nav-text {
    width:8em;
}

.burger {
    display: none;
}

.bodypush {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
/*.bodypush-l {*/
/*    left: calc(-100vw + 12.5vh);*/
/*}*/

.navpush {
    position: fixed;

    width: calc(100vw - 12.5vh);
    height: 100vh;
    top:0;
    right: calc(-100vw + 12.5vh);

    background-color: #99B7D6;
}
/*.navpush.navpush-l {*/
/*    right: 0*/
/*}*/
.navpush, .bodypush {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navpush-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.navpush-hover {
    flex:0;
    background-color: #26425F;


    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#navpush .item:hover .navpush-hover {
    flex: 25%;
}
.navpush-text {
    flex: 70%;
    text-align: left;
    font-size: 1.2em;
}
.navpush-icon {
     flex: 25%;
    color: #26425F;
 }
#navpush .container {
    flex-direction: column;
    margin-top: 7vh;
}
#navpush .item {
    width: 100%;
    flex-direction: row;
    text-align: left;

    font-size: 1.2em;
}
/* End Nav **********/


/* Hero **********/
/* >Title Image **********/
.title-img {
    width: 100%;
    /*width: window.innerWidth;*/
    height: 100vh;

    background-image: url("Images/title.jpg");
    /*background-color: black;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 75%;
}

/* >Title Text **********/
/*TODO Text positioning*/
.title-txt{
    padding-top: 7vh;
    padding-left: 2vh;
    text-align: left;
    color: white;

    text-shadow: 0 2px 15px #26425F;

}
.title-txt h2 {
    text-align: left;
    color: white;
}

/* End Hero **********/


/* Profile **********/
#Profile .section-indent {
    display: flex;
}

.profile-img {
    height: 100%;
    min-height: 25vh;

    background-image: url("Images/profile.jpg ");
    /*background-color: black;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    /*transform: scaleX(-1);*/
    /*background-position: 77% 33%;*/
}
/* End Profile **********/


/* Experience **********/
.exp-logo {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
}

.exp-logo-img {
    /*z-index: -1;*/
    background: var(--colour-2);

    margin-top: 0.36em;
    margin-bottom: 0.3em;

    /*padding-bottom: 0;*/

}

.exp-logo img {
    display: block;

    background-color: white;
    mix-blend-mode: screen;
    filter: grayscale(100%);

    padding-bottom: 0;
    width: 100%;
}
.exp-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}
.exp-sec .container {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #26425F;
}
.exp-sec .container:last-child {
    border-width: 0;
}

.accordion:hover {
    cursor: pointer;
}
.panel {
    display: none;
}
.accordion .fa-chevron-down {
    display: inline-block;
}
.accordion .fa-chevron-up {
    display: none;
}
.accordion.show .fa-chevron-down {
    display: none;
}
.accordion.show .fa-chevron-up {
     display: inline-block;
 }

/* End Experience **********/


/* Skills **********/
#Skills .item {
    width: 50%;

    display: flex;

    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 50%;
}

#Skills img {
    margin: 0 25%;
    width: auto;

}
.skill-img {
    flex-shrink: 0
}

#Skills h4 {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
/* End Skills **********/

/* Contact **********/
#Contact {
    background-color: var(--colour-2);
}

#Contact .section-indent{
    background-color: var(--colour-5);
}

.bg-hockey {
    min-height: 20vh;

    background-image: url("Images/hockey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 25%;
}
#Contact h2{
    color: var(--colour-2);
}

#Contact p {
    color: var(--colour-2);
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.circle-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    max-width: 375px;
    margin: 0 auto;
}

.circle {
    /*background-color: var(--colour-2);*/
    /*color: var(--colour-1);*/
    font-family: "DIN Alternate",sans-serif;

    color: #fff;
    text-shadow: 0 2px 10px black;

    text-align: center;

    /*TODO Sort circles at bottom*/
    background-color: var(--colour-2);
    /*background-color: #fff;*/
    border-radius: 100% 100% 100% 100%;
    border-color: 3px solid var(--colour-2);
    /*border-radius: 100%;*/

    position: relative;
    width: 115px;
    height: 0;
    padding: 12px 0 103px 0;

    margin: 5px 5px;

}


.circle i {
    font-size: 2em;
    display: block;

}
/* End Contact **********/

/* Footer **********/
footer {
    text-align: center;
    margin-bottom: 12vh;
}
/* End Footer **********/


/* Different Screen Widths **********/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

    /* TODO Compressed Nav **********/
    .bodypush-l {
        left: calc(-100vw + 12.5vh);
    }
    .navpush.navpush-l {
        right: 0
    }

    .nav-links {
        flex-direction: column;
    }
    .nav-button {
        display: none;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .show .nav-button{
        display: block;
    }
    .show .nav-text {
        width: 8em;
    }

    /*skills wrap*/
    #Skills .container, #Profile .container {
        flex-direction: column;
    }
    /*profile wrap*/
    #Skills .item, #Profile .item {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    /*Contact wrap*/
    #Contact .container {
        flex-direction: column;
    }

}
@media screen and (max-width: 480px) {
    /*!*Hero wrap*!*/
    /*.title-txt h1, .title-txt h2{*/
    /*    text-align: center;*/
    /*}*/

    .container {
        flex-direction: column;
    }
    #Skills .item {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

}

/*@media screen and (orientation: portrait){*/

/*    .bodypush-l {*/
/*        left: calc(-100vw + 12.5vh);*/
/*    }*/
/*    .navpush.navpush-l {*/
/*        right: 0*/
/*    }*/

/*    !* Compressed Nav **********!*/
/*    .nav-links {*/
/*        flex-direction: column;*/
/*    }*/
/*    .nav-button {*/
/*        display: none;*/
/*    }*/
/*    .burger {*/
/*        display: block;*/
/*        cursor: pointer;*/
/*    }*/
/*    .show .nav-button{*/
/*        display: block;*/
/*    }*/
/*    .show .nav-text {*/
/*        width: 8em;*/
/*    }*/
/*}*/

@media print {
    .nav-background {
        display: none;
    }
    .nav-mono {
        display: none;
    }
    #nav {
        display: none;
    }
}