/*General*/
:root {
    --colour-1: #174e65;
    --colour-2: #B2C0C9;
    /*--colour-2: #8DA2AF;*/
    --colour-3: #000000; /*hover*/
    --colour-contrast-1: #F08080; /*Blog*/
    --colour-contrast-2: #D4AF37; /*Stars*/
    --colour-dark: #000000;
    --colour-light: #FFFFFF;
}
/*#Experience img, .WiP {*/
/*    display: none;*/
/*}*/

.WiP {
    color: red;
}


@font-face {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    height: 100%;
}

h1 {
    text-align: center;
    color: var(--colour-1);
    font-family: 'Montserrat', sans-serif;
}
h2 {
    text-align: center;
    background-color: var(--colour-2);
    font-family: 'Exo 2', sans-serif;
    padding: 1vh 0;
    margin: 1vh 1vw;
    border-radius: 100vw;
}
h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h4 {
    text-align: center;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*Sections*/
section {
    background-color: var(--colour-1);
    padding: 0.25vh 0 1vh 0;
    margin-top: 1vh;
}
.surround {
    margin: 0 3vw;
    padding: 2vh 2vw;
    background-color: var(--colour-light);
}

/*Title Section*/
.Title_Image {
    background-image: linear-gradient(var(--colour-1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url("Images/title.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Title_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Title_Text h1 {
    background-color: var(--colour-light);
    padding: 0 5vw;
    margin: 0;
}
.Title_Text h2 {
    background-color: var(--colour-light);
    margin: 0;
    border-radius: 0;
}

/*Navigation Bar*/
nav {
    display: flex;
    padding: 0;
    width: 100%;
    background-color: var(--colour-2);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
nav a, nav img {
    flex: calc(100%/8);
    display: inline-block;
    padding: 2vh 2vw;
    text-decoration: none;
    color: var(--colour-dark);
    text-align: center;
}
nav a:hover {
    background-color: var(--colour-3);
    color: var(--colour-light);
}
nav a:active {
    background-color: var(--colour-3);
    color: var(--colour-light);
}
nav i {
    padding: 1vh 1vw;
}

.blog {
    background-color:var(--colour-contrast-1)
}

/*Nav Toggle*/
.navIcon{
    cursor: pointer;
    display: none;
}
.topbar, .midbar, .botbar {
    width: 35px;
    height: 5px;
    background-color: var(--colour-1);
    margin: 6px 0;
    transition: 0.3s;
}

.change .topbar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .midbar {
    opacity: 0;
}
.change .botbar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*Experience*/
.Logos {
    text-align: center;
}
#Experience img {
    border: 5px outset var(--colour-2);
    padding: 1vh 1vw;
    object-fit: contain;
    max-height: 85px;
}
.dashBreak {
    display: inline;
    height: 0;
}

.stars {
    color: var(--colour-contrast-2);
}

/*Contact Section*/
#Contact .surround{
    text-align: center;
    background-color: var(--colour-dark);
    color: var(--colour-light);
}
#Contact a{
    text-decoration: none;
    color: var(--colour-light);
}
#Contact i {
    padding: 1vh 1vw;
    text-decoration: none;
}

/*Address Section*/
address {
    text-align: center;
}

@media screen and (max-width: 700px) {
    nav a, nav img, nav br{
        display: none;
    }
    .navIcon{
        display: block;
        padding: 0 1vw
    }
    .navShow{
        display: block;
    }
    .navShow a{
        display: block;
        padding: 0;
    }

    #Experience img {
        display: none;
    }
    .dashBreak {
        visibility: hidden;
        display: block;
    }
}